@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Nato Potato";
}




<h1>Nathan Samuel Wirthlin</h1>
<img src="img/BYUGame.jpeg.JPG" width="400" />
<p>I love watching and playing sports with my friends</p>

<br />
<br />

<h2>Top 3 Jobs</h2>
<ol>
    <li>Business Management Consultant</li>
    <li>Data Analyst </li>
    <li>Database Manager </li>
</ol>



<p id="result"></p>
